<section class="farikmax-contact">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="contact__title">contact</h2>
				<h3 class="contact__subtitle">For new projects, ideas, business or anything <br>you'd like to discuss, contact with me!</h3>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-5">
				<form class="contact__form" action="#" method="post">
						<input class="contact__form--input" type="text" placeholder="Auskteez Tran" required>
						<input class="contact__form--input" type="email" placeholder="Your email..." required>
						<input class="contact__form--input" type="tel" placeholder="Your phone number..." required>
						<textarea class="contact__form--textarea" rows="10" cols="45" name="text" placeholder="Your message..."></textarea>
				</form>
			</div>
			<div class="col-5">
				<div class="contact-description">
					<p class="contact-description--p"><span class="uppercase">address</span><br>123 City name, Street, City, Country</p>
					<p class="contact-description--p"><span class="uppercase">email</span><br>cahee@domain.com</p>
					<p class="contact-description--p"><span class="uppercase">phone</span><br>+012 345 6789</p>
				</div>
			</div>
		</div>
	</div>
</section>