<section class="geka-gallery">
	<div class="container container-mode">
		<div class="row">
			<div class="col d-flex flex-column align-items-center">
				<h2 class="geka-gallery__title">Gallery</h2>
				<p class="geka-gallery__text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="geka-gallery__gallery">
					<div class="row gallery-mb">
					<div class="col">
						<div class="row">
							<div class="col-12 gallery-mb">
								<div class="row">
									<div class="col-12 col-lg-8 big-image">
										<div class="padding-hack">
											<img src="img/gallery-item1.jpg" class="img" alt="img">
										</div>
									</div>
									<div class="col-12 col-lg-4  small-image">
										<div class="row">
											<div class="col-12 gallery-mb">
												<div class="padding-hack">
													<img src="img/gallery-item2.jpg" class="img" alt="img">
												</div>
											</div>
											<div class="col-12">
												<div class="padding-hack">
													<img src="img/gallery-item3.jpg" class="img" alt="img">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 middle-image">
								<div class="row">
									<div class="col-12 col-lg-6 middle-image-mb">
										<div class="padding-hack">
													<img src="img/gallery-item4.jpg" class="img" alt="img">
												</div>
									</div>
									<div class="col-12 col-lg-6">
										<div class="padding-hack">
													<img src="img/gallery-item5.jpg" class="img" alt="img">
												</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				
				<a href="#" class="geka-gallery__btn">view more</a>
			</div>
		</div>
	</div>
</section>