<header class="header">
	<div class="container">
		<div class="row d-flex justify-content-between mb-5">
			<div class="col-6 col-lg-2">
				<a href="#" class="header__logo">cahee</a>
			</div>
			<div class="col-6">
				<nav class="header__menu">
					<ul class="header__list desktop" id="desktop">
						<li class="header__item">
							<a href="#" class="header__link active">home</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">about</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">services</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">gallery</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">blog</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">contact</a>
						</li>
					</ul>
					<div class="burger-menu">
						<a href="#">
							<span class="bar" id="top"></span>
							<span class="bar" id="middle"></span>
							<span class="bar" id="bottom"></span>
						</a>
					</div>
					<ul class="header__list mobile" id="mobile">
						<li class="header__item">
							<a href="#" class="header__link">home</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">about</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">services</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">gallery</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">blog</a>
						</li>
						<li class="header__item">
							<a href="#" class="header__link">contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="row mb-5">
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="header__content">
					<h1 class="header__title">fresh life</h1>
					<p class="header__text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
						veniam, quis nostrud exercitation ullamco.</p>
					<button type="submit" class="header__btn">get free now</button>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-lg-center">
			<div class="col-lg-2">
				<div class="scroll-downs">
					<div class="mousey">
						<div class="scroller"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>