<section class="margo-blog">
	<div class="container">
		<div class="row  mb-5">
			<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 text-center">
				<h2 class="margo-blog__title">Blog</h2>
				<p class="margo-blog__subtitle">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-lg-4 mb-lg-0 col-md-6 mb-md-4 col-sm-12 mb-sm-4 mb-4">
				<div class="margo-blog__wrapper-image">
					<img class="margo-blog__image" src="../img/blog-item1.jpg" alt="blog-item1">
				</div>
				<span class="margo-blog__date">20 nov</span>
				<div class="margo-blog__text">
					<p class="margo-blog__capture">Green Smoothies: Too Much of a Good Thing?</p>
					<span class="margo-blog__autor">By Auskteez - 2 hours ago</span>
				</div>
			</div>
			<div class="col-lg-4 col-md-6  mb-lg-0 mb-md-4 col-sm-12 mb-sm-4  mb-4">
				<div class="margo-blog__wrapper-image">
					<img class="margo-blog__image" src="../img/blog-item2.jpg" alt="blog-item1">
				</div>
				<span class="margo-blog__date">14 nov</span>
				<div class="margo-blog__text">
					<p class="margo-blog__capture">Growing Food and a “Thirst” for Innovation</p>
					<span class="margo-blog__autor">By Auskteez - 3 hours ago</span>
				</div>
			</div>
			<div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-12">
				<div class="margo-blog__wrapper-image">
					<img class="margo-blog__image" src="../img/blog-item3.jpg" alt="blog-item1">
				</div>
				<span class="margo-blog__date">10 nov</span>
				<div class="margo-blog__text">
					<p class="margo-blog__capture">Pesticides & Food: What You Need to Know</p>
					<span class="margo-blog__autor">By Auskteez - 6 hours ago</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2  offset-lg-5 col-md-6 offset-md-3 col-sm-12">
				<button class="margo-blog__btn">view more</button>
			</div>
		</div>
	</div>
</section>