<section class="olga-subscribe">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>subscribe to us</h3>
				<p class="text-subscribe">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, dolorum illo rem assumenda! Numquam autem maiores esse, nulla ducimus sus  cipit maiores esse.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<form>
					<input type="text" name="search" value="" placeholder="Your email adress..">
				</form></div>
				<div class="col-2"><input  class="main__btn" type="submit" value="subscribe"></form></div>
				<div class="col offset"></div>
			</div>
		</div>
	</section>