<section class="vika-services">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-6 order-md-2">
				<div class="vd-services-title">
					<h2 class="vd-title">our services</h2>
				</div>
			</div>

			<div class="col-12 col-md-6 order-md-1">
				<div class="vd-services-buttom">

					<ul class="vd-services-list">
						<li class="vd-list-item vk-icon1">
							<a href="#" class="vd-list-link">online shopping</a>
						</li>
						<li class="vd-list-item vk-icon2">
							<a href="#" class="vd-list-link">quality product</a>
						</li>
						<li class="vd-list-item vk-icon3">
							<a href="#" class="vd-list-link">domestic & international delivery</a>
						</li>
						<li class="vd-list-item vk-icon4">
							<a href="#" class="vd-list-link">well organized</a>
						</li>
					</ul>

				</div>
			</div>

		</div>
	</div>
</section>