<footer class="vova-footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-1 order-md-0">
        <p class="vova-footer__reserved">
            © 2015 Company. All right reserved.
        </p>
      </div>
      <div class="col-md-2 text-md-center order-0 order-md-1">
        <a href="#" class="vova-footer__link">Cahee</a>
      </div>
      <div class="col-md-5 text-md-right order-2">
        <p class="vova-footer__author">
            Made with <span>love </span>by Auskteez
        </p>
      </div>
    </div>
  </div>
</footer>