<section class="vova-galery">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-12 mb-5">
        <h2 class="vova-galery__title">Gallery</h2>
      </div>
      <div class="col-12 col-lg-6">
        <p class="vova-galery__text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
    </div>
    <div class="row mb-3 mb-lg-4">
      <div class="col-12 col-lg-8 mb-3 mb-lg-0">
        <div class="vova-galery__img-wrapper">
          <img src="img/gallery-item1.jpg" alt="1" class="vova-galery__img">
        </div>
      </div>
      <div class="col-12 col-lg-4 d-flex flex-column justify-content-between">
        <div class="vova-galery__img-wrapper mb-3 mb-lg-0">
          <img src="img/gallery-item2.jpg" alt="3" class="vova-galery__img">
        </div>
        <div class="vova-galery__img-wrapper">
          <img src="img/gallery-item3.jpg" alt="3" class="vova-galery__img">
        </div>
      </div>
    </div>
    <div class="row mb-3 mb-lg-5">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0">
        <div class="vova-galery__img-wrapper">
          <img src="img/gallery-item4.jpg" alt="4" class="vova-galery__img">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="vova-galery__img-wrapper">
          <img src="img/gallery-item5.jpg" alt="5" class="vova-galery__img">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#" class="vova-galery__btn">VIEW MORE</a>
      </div>
    </div>
  </div>
</section>